/*Menu vertical gauche*/
.content-tab{
  width: 90vw;
  height: 80vh;
  padding-left: 6vw;
  padding-right: 0.5vw;
  padding-top: 10px;
}

.content-head{
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}

/**/
.btn-scroll-up{
  position: fixed;
  top: 85vh;
  right: 5vw;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  font-weight: bold;
  opacity: 0.2;
  background-color: var(--nav-bg-color);
}

.btn-scroll-up:hover{
  background-color: white;
  color: var(--nav-bg-color);
  border-color: var(--nav-bg-color);
  opacity: 1;
}


/*Indicateur de la page courante*/
.content-path-navigation{
  font-style: italic;
  color: gray;
}


/*Lien indiquant la page courrante*/
.link-navigation{
  text-decoration: none;
  color: gray;
  font-weight: bold;
}


.required-field label::after{
  color: red;
  content: " *";
}


/*Zone d'attente de resultat*/
.waiting-zone{
  width: 100%;
  height: 40px;
  font-weight: bold;
  text-align: center;
  font-style: italic;
  color: orange;
  display: none;
}


.printing-zone{
  width: 100%;
  height: 40px;
  font-weight: bold;
  text-align: center;
  font-style: italic;
  color: green;
  display: none;
}


.deleting-zone{
  width: 100%;
  height: 40px;
  font-weight: bold;
  text-align: center;
  font-style: italic;
  color: red;
  display: none;
}


/*Contenant des resultat trouvées*/
.content-result-line{
  width: 100%;
  height: auto;
}

.content-number-line-found{
  width: 100%;
  height: 35px;
  font-style: italic;
  text-align: right;
}

/*Ligne des resultats vides*/
.line-not-found{
  width: 100%;
  height: 40px;
  padding-top: 20px;
  margin-top: 20px;
  background-color: #ffded7;
  text-align: center;
  color: red;
  font-weight: bold;
  font-style: italic;
}


/*Boutons d'action (ajout / suppression / edition)*/
.btn-top-action{
  float: right;
  color: white;
  width: 50px;
  height: 50px;
  font-weight: bold;
  border-radius: 5px;
  position: fixed;
  right: 3vw;
  z-index: 5;
}

/*Boutton d'ajout d'un nouvel élément*/
.btn-add{
  background-color: var(--nav-bg-color);
}

.btn-add:hover{
  background-color: white;
  color: var(--nav-bg-color);
  border-color: var(--nav-bg-color);
  opacity: 0.7;
}


/*Bouton de suppression d'un élément sélectionné*/
.btn-delete{
  top: 31vh;
  display: none;
  background-color: red;
}


.btn-delete:hover{
  background-color: white;
  color: red;
  border-color: red;
  opacity: 0.7;
}


/*Bouton d'impression en PDF*/
.btn-print-pdf{
  top: 22vh;
  font-weight: bold;
  display: none;
  background-color: #6D071A;
}


.btn-print-pdf:hover{
  background-color: white;
  color: #6D071A;
  border-color: #6D071A;
  opacity: 0.7;
}

/*Boutton de sauvegarde*/
.btn-submit{
  background-color: var(--nav-bg-color);
  color: white;
  height: 50px;
  font-weight: bold;
  border-radius: 5px;
}

.btn-submit:hover{
  box-shadow: 2px 2px 5px;
  opacity: 0.8;
}


/*Champ de recherche*/
.searching-line{
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}

.searching-input{
  margin-left: 10px;
  width: 50%;
  height: 50px;
  border: none;
  border-bottom: solid 1px gray;
}

.searching-line i{
  font-size: 25px;
  font-weight: bold;
  color: var(--nav-bg-color);
}


.legend{
  width: 100%;
  background-color: var(--nav-bg-color);
  color: #fff;
  padding-left: 1%;
  padding-right: 1%;
}

/*Contenant des formulaire, et titre de la page*/
.content-form{
  width: 100%;
  height: auto;
  padding-top: 30px;
}

.column-form{
  height: auto;
  margin-top: 15px;
  padding-bottom: 15px;
}

.column-kid-infos{
  height: 60px;
}

.column-case-infos{
  height: 150px;
}

.column-art-code{
  height: 65px;
}

.content-input-form{
  width: 96%;
  height: 100%;
  margin-left: 2%;
}

.content-input-form .title-form,.content-input-form input[type="text"], .content-input-form input[type="date"], .content-input-form select{
  width: 96%;
}

.content-input-form input[type="text"],.content-input-form input[type="date"], .content-input-form select{
  text-align: center;
  height: 30px;
}

.content-input-form select{
  height: 35px;
}

/*Preambule de la page*/
.line-title{
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}


/*Contenu des onglet*/
.content-menu{
  width: 4vw;
  background-color : var(--nav-bg-color);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: fixed;
  z-index: 10;
}


/*Champs obligatoires*/
.required-field{
  content: " *";
}


/*Texte des menus*/
.item-menu .txt-menu{
  display: none;
}

.icon-menu{
  font-size: 25px;
}

.icon-menu::after{
  content: " ";
}

.mobile-content-menu{
  width: 100%;
  margin-top: 80px;
  position: fixed;
  z-index: 5;
  display: none;
  background-color : var(--nav-bg-color);
}

.content-menu,.content-tab{
  margin-top: 80px;
}

.item-menu{
  width: 100%;
  height: auto;
  padding-bottom: 25px;
  padding-top: 25px;
  color: white;
  text-align: center;
  box-shadow: 1px 1px 1px black;
  cursor: pointer;
}

/* MENU ACTUEL DE L'UTILISATEUR */
.menu-focused{
  background-color: white;
  color: black;
}




.menu-home{
  border-top-right-radius: 10px;
}

.menu-users{
  border-bottom-right-radius: initial;
}


.item-menu:hover{
  opacity: 0.4;
}


.btn-log{
  position: absolute;
  right: 10px;
  color: white;
  margin-top: 2vh;
}


.btn-log:hover{
  opacity: 0.7;
}

.btn-login{
  background-color: green;
}

.btn-logout{
  background-color: red;
}


/*Contenant des filtres*/
.content-filters{
  width: 50%;
  width: 100%;
  height: auto;
}

.content-filters label{
  font-style: italic;
  color: gray;
}

.content-filters select{
  height: 50px;
  border: none;
  text-align: center;
  color: var(--nav-bg-color);
  font-weight: bold;
  border-bottom: solid 2px var(--nav-bg-color);
}



/*Blocs/cadres/carrés alignés et responsifs*/
.box-item{
  height: auto;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 20px;
}



















/* Google Translate */
.btn-choose-lang{
  position: absolute;
  right: 110px;
  color: white;
  top: 2.5vh;
  border-radius: 30px;
} 

.translated-ltr{margin-top:-40px;}
.translated-ltr{margin-top:-40px;}
.goog-te-banner-frame {display: none;margin-top:-20px;}

.goog-logo-link{
 display:none !important;
}
.goog-te-banner{
  visibility: hidden !important;
  display: none !important;
}
.goog-te-gadget {
 color: transparent !important;
}

.goog-te-gadget .goog-te-combo {
  height: 30px;
  border: none;
  background-color: white;
}
/* *** 