header{
  background-color : var(--nav-bg-color);
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 10vh;
  z-index: 35;
  box-sizing: border-box;
}
.nav-contain-right li{
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
}

.btn-burger{
  width: 50px;
  height: 50px;
  font-size: 40px;
  color: white;
  border: none;
  box-shadow: initial;
  margin-top: 1.5vh;
  margin-left: 5%;
  display: none;
  background-color: var(--nav-bg-color);
}